.bg-trans {
    background-color: #ffffff0f;
}

.carousel-caption {
    text-align: left;
    bottom: 20%;
}

.brief__container_ {
    padding-top: 150px;
    padding-bottom: 100px;
}

.brief_img_container_ {
    padding-top: 100px;
}

.dot {
        font-size: 100%;
}

.first-letter::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.contact__banner__background {
    background-image: url(/en/merrit-cornell/images/jpeg/stationary.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.contact__banner__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .65);
    padding: 105px 0 0;
}

a.nav-link {
    margin-left: 3rem;
}

.app_gradient {
    background: rgb(99, 205, 246);
    background: linear-gradient(90deg, rgba(99, 205, 246, 1) 0%, rgba(160, 193, 53, 1) 98%, rgba(160, 193, 53, 1) 100%);
}

.color-ci{
    color:#b3d235;
}

.modal-dialog {
    top: 25vh;
}

.quick-call, .quick-contact{
    padding:10px;
    left: -5%;
    z-index: 999;
}

.quick-contact{
    top:50%;

}
.quick-call{
    top:55%;
}

.quick-contact:hover, .quick-call:hover{
    left: -2px;
    transition-duration: 0.3s;
}



.merrit-cornell-products{
    position: absolute;
    top: -25%;
}

footer{
    background-color: #000;
    color: #fff;
}



@media only screen and (max-width: 1440px) {
    .carousel-caption {
        left: 12%;
    }
    
    .quick-call, .quick-contact{
        left: -6%;
    }


}

@media only screen and (max-width: 1536px) {
    .carousel-caption {
        left: 13%;
    }
    .quick-call, .quick-contact{
        left: -6%;
    }


}

@media only screen and (max-width: 1024px) {
    .carousel-caption {
        left: 5%;
    }
    .quick-call, .quick-contact{
        left: -9%;
    }

}

@media only screen and (max-width: 768px) {
    .carousel-caption {
        left: 5%;
    }
    .merrit-cornell-products{
        position: relative;
        top: 0;
    }
    .quick-call, .quick-contact{
        left: -12%;
    }
    
    .brief_img_container_ {
    padding-top: 50px;
}
}


@media only screen and (max-width: 600px) {
    a.nav-link {
        margin-left: 0rem;
    }
    .carousel-caption {
        text-align: left;
        bottom: -15%;
        left: 5%;
    }
    h1, .h1 {
        font-size: 1.25rem;
    }
    .merrit-cornell-products{
        position: relative;
        top: 0;
    }
    .quick-call, .quick-contact{
        display: none;
    }
}
